[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[user]
	name = Jan Meier
	email = jan@meier.wtf
[push]
	default = current
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = number -s
	ss = number
	a = number add
	d = number diff
	r = number rm
	res = number reset
	c = commit -m
	co = number checkout
[core]
	editor = /usr/bin/vim
	autocrlf = input
	excludesfile = /Users/meier/.gitignore_global
[pull]
	rebase = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
