[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[user]
	name = Jan Meier
	email = jan@meier.wtf
[push]
	default = simple
[alias]
tree = log --graph --decorate --pretty=oneline --abbrev-commit
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
	ss = status

[core]
	editor = /usr/bin/vim
	autocrlf = input
[pull]
	rebase = true
[rerere]
	enabled = true
